# Database
POSTGRES_USER=secure_drive
POSTGRES_PASSWORD=devpassword
POSTGRES_DB=objects_metadata
POSTGRES_PORT=5432
POSTGRES_HOST=postgres

# MinIO
MINIO_BUCKET=objects-bucket
#            ^^^^^^^^^^^^^^
# storage bucket name rules:
# Must be between 3 and 63 characters
# Can only contain lowercase letters, numbers, dots (.), and hyphens (-)
# Must start and end with a lowercase letter or number
# Cannot contain underscores
MINIO_HOST=minio
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=your-secure-password-here
MINIO_SECURE=false                  # Set to true in production with HTTPS
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Frontend Development Mode
SERVE_FRONTEND=1                    # Serve frontend/dist/* statically from fastapi
BUILD_TARGET=development
BACKEND_PORT=8000
FRONTEND_PORT=5173
FRONTEND_DIST=/frontend/dist