* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: #c9c6c6;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow: hidden;
}